* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  transition: 0.5s;
  outline: none;
  font-family: "Lato", sans-serif;
  font-style: normal;
}





body {
  position: relative;
  
}

button {
  border: transparent;
  outline: none;
}

input {
  outline: none;
  border: transparent;
}

a {
  text-decoration: none;
  color: black;
}

.navbar{
  display: flex;
  flex-direction: column;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 20px;
  padding-right: 20px;
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  color: white;
  position: sticky;
  z-index: 10;
  left: 0;
  right: 0;
  top: 0;
}

.nav-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
 
}

.searchdiv{
  display: flex;
  justify-content: space-between;
  width: 100%;
  border: 1px solid rgb(0, 100, 50);
  padding: 7px;
  border-radius: 20px;
  margin-bottom: 10px;
  gap: 10px;
  display: none;

}

.searchdiv.active{
  display: flex;
}

.searchdiv input{
  width: 95%;
  height: 100%;
}

.searchdiv i{
 
  cursor: pointer;
}



.imageLogo {
  width: 63px;
  height: 50px;
}

.container-left {
  display: flex;
  justify-content: space-between;
  gap: 25px;
}

.container-left a {
  text-transform: uppercase;
}

.cartcount-parent {
  position: relative;
}

.cartCount {
  position: absolute;
  top: -8px;
  right: -10px;
  background-color: red;
  color: white;
  width: 16px;
  height: 16px;
  text-align: center;
  border-radius: 50%;
  font-size: 11px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4px;
}

.hamburger-menu {
  display: flex;
  flex-direction: column;
  gap: 5px;
  display: none;
  cursor: pointer;
  transition: 0.5s;
}

.line1.active {
  transform: rotate(45deg) translateY(5px);
  transition: 0.5s ease-in-out;
}

.line2.active {
  display: none;
  transition: 0.5s;
}

.line3.active {
  transform: rotate(-45deg) translateY(-5px);
  transition: 0.5s ease-in-out;
}

.hamburger-menu span {
  background-color: black;
  height: 2px;
  width: 20px;
}

.bi-sun, .bi-search {
  color: black;
}

.mediaquery.active {
  color: rgb(0, 100, 50);
  font-weight: 700;
  border-bottom: 2px solid rgb(0, 100, 50);
}



/*hero banner styling*/
.hero-banner {
  position: relative;
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
  background-position: center;
  color: black;
  padding: 100px 20px;
  padding-bottom: 60px;
  padding-top: 60px;
  text-align: center;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.7));
  background-image: url('../assets/gaming/g5.png');
  background-position: right;
  background-repeat: no-repeat;
  background-size: cover;
  height: 90vh;
  color: #fff; 

  &:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.6));
}
}

.banner-content {
  max-width: 600px;
  margin: 0 auto;
}

.banner-content h1 {
  font-size: 32px;
  margin-bottom: 20px;
}

.banner-content p {
  font-size: 13px;
  margin-bottom: 30px;
}

.shop-now {
  display: inline-block;
  padding: 10px 20px;
  color: #fff;
  text-decoration: none;
  font-size: 16px;
  border-radius: 8px;
  cursor: pointer;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  padding: 10px 20px;
  border-radius: 5px;
  text-transform: uppercase;
  font-weight: bold;
  text-decoration: none;
  background-color: #c62828;
  color: #fff;
  position: absolute;
  left: 50%;
    transform: translateX(-50%);
    z-index: 1;
}

.shop-now:hover {
    background-color: #263238;
}

.shop-now i {
  color: white;
}

/* side bar styling*/
.sidebar {
  background-color: white;
  position: fixed;
  top: 0;
  left: -100%;
  bottom: 0;
  height: 100vh;
  width: 85%;
  display: flex;
  flex-direction: column;
  transition: 0.5s;
  z-index: 20;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.sidebar div {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #bbbfbf;
}

.sidebar div .sidebar-logo {
  width: 85px;
  height: auto;
  align-self: center;
  margin: 0 auto;
}

.sidebar.active {
  left: 0;
  transition: 0.5s;
}

.sidebar div {
  display: flex;
  gap: 5px;
  align-items: center;
}

.sidebar-header {
  width: 100%;
  padding-top: 5px;
  padding-bottom: 5px;
  color: black;
  border-bottom: 1px solid #bbbfbf;
}

.sidebar div span {
  font-weight: bold;
  letter-spacing: 1px;
}

.sidebar ul {
  display: flex;
  flex-direction: column;
  gap: 25px;
  justify-content: center;
  padding: 30px 0 0 15px;
}

.sidebar ul li {
  list-style: none;
}

.sidebar ul li a {
  text-transform: uppercase;
  text-decoration: none;
  color: black;
  font-size: 15px;
  letter-spacing: 1px;
  padding-bottom: 3px;
}



.alink.active{
  color: rgb(0, 100, 50);
  border-bottom: 2px dotted rgb(0, 100, 50);
  font-weight: 700;
}



.Popular {
  display: flex;
  justify-content: center;
  align-self: center;
  margin-top: 5px;
  margin-bottom: 10px;
}

.Popular i {
  color: orangered;
}

.Category-sidebar {
  display: flex;
  flex-direction: column;
}

.subcategories-sidebar {
  display: flex;
  flex-direction: column;
  margin-left: 35px;
  gap: 10px;
  height: 0;
  overflow: hidden;
  transition: 0.5s;
  margin-top: -10px;
}

.subcategories-sidebar.active {
  height: 150px;
  transition: 0.5s;
}

.subcategories-sidebar span {
  font-size: 15px;
  color: grey;
  cursor: pointer;
}

.services {
  display: flex;
  justify-content: space-around;
  width: 100%;
  align-items: center;
  padding: 35px;
  padding-left: 20px;
  padding-right: 20px;
  flex-wrap: wrap;
  gap: 10px;
}

.services div {
  display: flex;
  flex-direction: column;
  width: 135px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  justify-content: center;
  align-items: center;  
  gap: 10px;
  padding: 10px;
  
}

.services div img {
  width: 100px;
  height: 70px;
}

.services span {
  font-size: 13px;
  color: black;
}

.service1 span {
  padding: 5px;
  border-radius: 8px;
}

.service2 span {
  padding: 5px;
  border-radius: 8px;
}

.service3 span {
  padding: 5px;
  border-radius: 8px;
}

.service4 span {
  padding: 5px;
  border-radius: 8px;
}

.service5 span {
  padding: 5px;
  border-radius: 8px;
}

.service6 span {
  padding: 5px;
  border-radius: 8px;
}

/* Style for the product container */
#product-container,
#newarrivals-container,
#flashsales-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 20px;
}

/* Style for individual product */
.product {
  width: 250px;
  margin: 20px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  gap: 5px;
}


/* Style for product image */
.product img {
  width: 100%;
  height: 200px;
  border-radius: 10px;
  background-color: hsl(0, 0%, 93%);
  cursor: pointer;
}

/* Style for product name */
.product h2 {
  margin-top: 10px;
  font-size: 14px;
  word-wrap: normal;
}

/* Style for product detail */
.product p {
  margin-top: 5px;
  font-size: 1rem;
}

/* Style for product price */
.product .price {
  margin-top: 10px;
  font-size: 16px;
  font-weight: 700;
  color: rgb(0, 100, 50);
}

.addcartdiv {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}

.bi-heart {
  color: black;
  cursor: pointer;
}

#ratings {
  display: flex;
  gap: 3px;
}

#ratings i {
  font-size: 12px;
  color: gold;
  cursor: pointer;
}

.addtocart-div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.addtocart-div div {
  display: flex;
  gap: 5px;
  font-weight: bold;
}



.addtocart {
  background-color: hsl(0, 0%, 95%);
  padding: 5px;
  border-radius: 50%;
  cursor: pointer;
  font-weight: bold;
}

.addtocart-div .bi-heart {
  font-size: 13px;
  background-color: hsl(0, 0%, 95%);
  padding: 5px;
  border-radius: 50%;
  cursor: pointer;
  font-weight: bold;
}

.addtocart.active {
  background-color: black; /* Light background color for button */
  color: white; /* Dark text color */
  border: none; /* Remove border */
  cursor: pointer; /* Add cursor pointer */
  transition: background-color 0.3s, color 0.3s; /* Smooth transition */
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.2);
}

.addtocart i {
  font-size: 12px;
}

.bi-check {
  background-color: rgb(0, 100, 50);
  border-radius: 50%;
  font-size: 12px;
  color: white;
}

.darken {
  width: 100%;
  position: absolute;
  height: 0;
  background-color: transparent;
  left: 0;
  right: 0;
  top: 0;
  transition: 0.5s;
}

.darken.active {
  background-color: rgba(0, 0, 0, 0.8);
  transition: 0.5s;
  height: 100%;
}

.categ-labels {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  gap: 5px;
}

.categ-labels span {
  font-size: 32px;
  font-weight: bold;
  color: black;
}

.categ-labels span i {
  color: red;
}

.categ-labels p {
  font-size: 20px;
  color: #e53935;
  font-weight: 700;
}

.banner2 {
  display: flex;
  flex-direction: column;
  background-color: hsl(51, 100%, 40%);
  justify-content: center;
  align-items: center;
  padding: 40px;
  font-weight: bold;
  gap: 10px;
  background-image: url("assets/images/gamepads/gamepad1.png");
}

.banner2 button {
  padding: 8px;
  background-color: ;
  border-radius: 10px;
  cursor: pointer;
  font-size: 15px;
}



.search {
  display: none;
}

.features {
  width: 100%;
  padding: 20px;
}

.features1 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  margin-bottom: 15px;
}

.features1 div {
  display: flex;
  flex-direction: column;
  width: 50%;
  height: 250px;
  justify-content: center;
  padding: 10px;
  gap: 10px;
  
}

.feature11{
  background-image: url('../assets/gamepad.png');
  background-size: 60%;
  background-position: right;
  color: white;
  background-repeat: no-repeat;
  background-size: cover;
}


  .feature12{
    background-color: #263238;
    background-image: url('../assets/images/headsets/headset13.png');
    background-size: 50%;
    background-position: right;
    color: white;
    background-repeat: no-repeat;
  }


.features1 div button {
  width: 100px;
  padding: 8px;
  border: 1px solid white;
  cursor: pointer;
  background-color: black;
  color: gold;
}

.features1 div button:hover{
  color: black;
  background-color: gold;
  border: 1px solid black;
}

.features1 .feature11 {
  border: 1px solid;
}

.features1 .feature12 {
  border: 1px solid black;
}

.features2 {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  gap: 15px;
 
}

.features2 div {
  display: flex;
  flex-direction: column;
  height: 250px;
  width: 33.333%;
  justify-content: center;
  gap: 10px;
  padding: 10px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border: 1px solid black;
  background-color: #222;
}

.feature21{
  background-image: url('../assets/images/mouse/mouse1.png');
  background-size: 60%;
  background-position: right;
  color: white;
  background-repeat: no-repeat;
  background-size: cover;
}

.feature22{
  background-image: url('../assets/images/chairs/chair14.png');
  background-size: 60%;
  background-position: right;
  color: white;
  background-repeat: no-repeat;
  background-size: cover;
}

.feature23{
  background-image: url('../assets/images/keyboards/keyboard2.png');
  background-size: 60%;
  background-position: right;
  color: white;
  background-repeat: no-repeat;
  background-size: cover;
}

.features2 button {
  width: 100px;
  padding: 10px;
  color: gold;
  background-color: black;
  border: 1px solid white;
  cursor: pointer;
}

.features2 button:hover{
  background-color: gold;
  color: black;
  border: 1px solid black;
}

.feature22 {
  position: relative;
}

#goToTopBtn{
  right: -99%;
  position: fixed;
  bottom: 1.25rem;
  z-index: 99;
  font-size: 1.125rem;
  border: none;
  outline: none;
  background-color: #37474f;
  border: 1px solid white;
  color: white;
  cursor: pointer;
  padding: 0.938rem;
  border-radius: 50%;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
}

.newsletter {
  display: flex;
  justify-content: space-between;
  width: 100%;
  background-color: rgb(18, 18, 80);
  padding: 20px;
  padding-top: 50px;
  padding-bottom: 50px;
  align-items: center;
}

.newsletter .news {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.newsletter div h2 {
  color: white;
  margin-bottom: 10px;
  letter-spacing: 0.7px;
}

.newsletter div small {
  color: #bbbfbf;
}

.newsletter div small span {
  color: hsl(51, 100%, 40%);
  cursor: pointer;
}

.textArea {
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 400px;
  padding-left: 10px;
}

.textArea button {
  background-color: rgb(0, 100, 50);
  color: white;
  padding: 10px;
  cursor: pointer;
}

.newsletter div input {
  width: 70%;
  background-color: transparent;
  outline: none;
  border: transparent;
}

footer {
  color: black;
  padding: 20px 25px 10px 25px;
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.footer-line1 {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: space-between;
  align-items: center;
}

.footer-line1 div {
  display: flex;
  gap: 20px;
  width: 320px;
}

.footer-line1 div div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
}

.separation {
  height: 1px;
  background-color: #ccc;
  width: 100%;
}

.footer-line1 div i {
  color: gray;
  font-size: 40px;
}

.footer-line1 div div h4 {
  font-size: 12px;
  font-weight: bold;
}

.footer-line1 div div span {
  color: gray;
  font-size: 10px;
}

.our-stores {
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
  justify-content: space-between;
}

.our-stores ul {
  width: 110px;
}

.our-stores ul li {
  list-style: none;
}

.our-stores ul li a {
  text-decoration: none;
  color: gray;
  font-size: 12px;
}

.payment-system {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
}

.payment-system div {
  width: 300px;
}

.appleLogo img {
  width: 200px;
  height: 100px;
  cursor: pointer;
}

.payment {
  display: flex;
  gap: 15px;
  flex-direction: column;
  margin-top: 20px;
  margin-bottom: 20px;
}

.payment div {
  display: flex;
  gap: 15px;
}

.payment div img {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  cursor: pointer;
  border: 1px solid #bbbfbf;
  
}

.social-links div{
  display: flex;
  gap: 10px;
  margin-top: 10px;
}

.social-links a i{
  font-size: 20px;
}

#fb {
  color: #0051ff;
  border-radius: 50%;
  cursor: pointer;
}

#wsp {
  color: green;
  border-radius: 50%;
  cursor: pointer;
}

#ytb {
  color: red;
  cursor: pointer;
}

#twt {
  color: rgb(0, 149, 255);
  cursor: pointer;
}

#ig {
  color: rgb(244, 71, 100);
  cursor: pointer;
}

.designed-by {
  color: black;
  margin: auto;
}

/*dark modes color*/

.dmbg1.darkmode{
   background-color: #1A1A1A;
}

#body.darkmode{
  background-color: #121212;
  color: #CCCCCC;
}

.product.darkmode {
  background-color: #1E1E1E; 
  color: #fff; 
  border-radius: 8px; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}

.product-image.darkmode{
  background-color: #222222;
}


@media screen and (max-width: 700px) {
  .mediaquery {
    display: none;
  }

  i {
    color: black;
  }

  .logo {
  }

  .hamburger-menu {
    display: flex;
  }

  .search {
    display: block;
  }


  .hero-banner img {
    width: 100%;
  }

  .product {
    width: 360px;
  }

  .features {
    padding: 20px;
  }

  .features1 {
    display: flex;
    flex-direction: column;
  }
  .features1 div {
    width: 100%;
  }

  .features2 {
    display: flex;
    flex-direction: column;
  }

  .features2 div {
    width: 100%;
  }

  .newsletter {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .newsletter .textArea {
    width: 100%;
    display: flex;
  }

  .categ-labels {
    padding: 20px;
  }

  .inbut-div {
    display: none;
  }

  #product-container,
  #newarrivals-container,
  #flashsales-container {
    padding: 5px;
  }

  .bi-arrow-up{
    color: white;
  }
}
